.files-manager {
  border:         1px solid @gray;
  display:        flex;
  flex-direction: row;
}

/**
Левое меню
 */
.files-manager-side {
  width:        200px;
  background:   @sidebar-light-bg;
  border-right: solid 1px @gray;

  .files-manager-side-title {
    padding:     15px;
    font-weight: 600;
  }

  .files-manager-side-list {
    font-weight: 600;
    padding:     0 0 5px;
    list-style:  none;
    a {
      display:     block;
      color:       @gray-darker;
      padding:     6px 10px 7px 11px;
      border-left: solid 4px transparent;
      &:hover, &.active {
        background-color: @gray-lighter;
        color:            @light-blue;
      }
      &:hover {
        border-left-color: @gray;
      }
      &.active {
        border-left-color: @blue;
      }
    }
  }
}

/**
Центральный блокв
 */
.files-manager-panel {
  flex:       1;
  width:      auto;
  background: #fff;
}

.files-manager-header {
  border-bottom:   solid 1px @gray;
  padding:         10px 15px;
  background:      @sidebar-light-bg;
  display:         flex;
  justify-content: space-between;

  .files-manager-header-left,
  .files-manager-header-right {
    flex: 1;
  }

  .btn-icon {
    height:     38px;
    padding:    0;
    background: none;
    border:     none;
    color:      @light-blue;
    margin:     0 8px 0 0;

    &:hover {
      color: @blue;
    }

    .font-icon {
      vertical-align: middle;
      position:       relative;
      top:            1px;
    }

    &.view {
      color: @gray;
      &:hover, &.active {
        color: @light-blue;
      }
    }
  }
  .views {
    float:  right;
    margin: 0 10px 0 0;
  }

  .search {
    float:    right;
    width:    216px;
    position: relative;

    .btn-icon {
      position: absolute;
      right:    5px;
      top:      -1px;
    }
  }
}

.files-manager-aside {
  width:    280px;
  position: relative;
}

.files-manager-aside-section {
  border-top: solid 1px @gray;
  padding:    15px 15px 20px;
  font-size:  80%;

  &:first-child {
    border-top: none;
  }
  .box-typical-header-sm {
    padding: 0 0 10px;
  }
  .info-list {
    padding: 0 0 10px;
    p {
      margin: 0 0 6px;
    }
  }
}

.files-manager-content {
  flex:    1;
  display: flex;
}

.files-manager-content-in {
  border-right: solid 1px @gray;
  flex:         1;
}

.files-manager-breadcrumbs {
  font-size:     90%;
  padding:       5px;
  border-bottom: solid 1px @gray;
  background:    @sidebar-light-bg;

  .breadcrumb {
    margin:     0;
    padding:    0;
    background: transparent;

    a {
      cursor: pointer;
    }
  }
}

.fm-file-list,
.fm-file-grid {
  padding: 10px 0 0 10px;
  .clearfix();
}

.fm-file-list {
  padding-right:  18px;
  padding-bottom: 18px;
}

.fm-file-grid {
  .fm-file {
    float: left;
    width: @file-width;
  }
}

@file-width: 249px;
@file-icon-width: 50px;
@file-padding: 10px;

.fm-file {
  margin:           0 10px 10px 0;
  padding:          @file-padding;
  cursor:           pointer;
  height:           70px;
  max-height:       70px;
  background-color: @gray-lighter;
  user-select:      none;
  .clearfix();

  .fm-file-icon {
    height:      50px;
    line-height: 50px;
    float:       left;
    width:       @file-icon-width;
    text-align:  center;

    img {
      vertical-align: middle;
      height:         43px;
    }
  }

  .fm-file-meta {
    max-width: @file-width - @file-padding*2 - @file-icon-width;
    display:   inline-block;
    float:     left;
    padding:   5px;

    .fm-file-name, .fm-file-size {
      white-space:   nowrap;
      overflow:      hidden;
      width:         100%;
      text-overflow: ellipsis;
    }
  }

  .fm-file-size {
    color:       @gray-dark;
    font-size:   70%;
    font-weight: bold;
  }

  &:hover,
  &.selected {
    background-color: @light-blue;

    .fm-file-name, .fm-file-size {
      color: #fff;
    }
  }
}

.fm-file-list {
  .fm-file {
    float:         none !important;
    width:         100%;
    padding:       3px 10px;
    margin-bottom: 2px;
    height:        auto;
  }

  .fm-file-meta {
    max-width: 100%;
  }
}

@media (max-width: 830px) {
  .files-manager-side {
    display: none;
  }
}

@media (max-width: @screen-header-collapse) {
  .fm-file-grid {
    .fm-file {
      width: 200px;
    }

    .fm-file-meta {
      max-width: 130px;
    }
  }

  .files-manager-header {
    flex-direction: column;

    .files-manager-header-left {
      padding-bottom: 10px;
    }
  }

  .files-manager-aside {
    width: 100%;
    border-top: 1px solid @gray;
  }

  .files-manager-content {
    flex-direction: column;
  }

  .files-manager-content-in {
    border-right: none;
  }
}

@media (max-width: 485px) {
  .fm-file-grid {
    padding: 10px;
  }

  .files-manager-header {
    .view {
      display: none;
    }

    .search {
      width: 100%;
      float: none;
    }
  }

  .fm-file {
    width: 100% !important;
  }
}

@media (max-width: 380px) {
  .files-manager-header-left {
    .btn {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

